<div class="relative flex flex-col w-full h-full">
    <div class="absolute top-0 right-0">
        <button mat-icon-button (click)="close('cancelled')">
            <mat-icon
                class="text-secondary"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>
    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Userslist -->
        <div
            class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
        >
            <ng-container *ngIf="auctionList$.length; else noAdmin">
                <ng-container>
                    <div class="grid table_tr_bg">
                        <!-- Header -->
                        <div
                            class="auction-grid z-10 text-lg sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow font-semibold"
                            style="background-color: #ecf1f2"
                        >
                            <div class="hidden md:block">S No.</div>
                            <div class="hidden md:block">User name</div>
                            <div class="hidden md:block">Property name</div>
                          

                            <div class="hidden md:block">Action</div>
                        </div>
                        <ng-container>
                            <ng-container
                                *ngFor="let item of auctionList$; let i = index"
                            >
                                <div
                                    class="auction-grid font-medium grid items-center gap-4 py-3 px-6 md:px-8 border-b-2 border-gray-300"
                                >
                                    <div>
                                        {{
                                            pagination?.PageNo *
                                                pagination?.limit +
                                                i +
                                                1
                                        }}
                                    </div>
                                    <!-- Community -->
                                    <div class="">
                                        {{ item?.userType }}
                                    </div>
                                    <!-- Notes -->
                                    <div class="">
                                        {{
                                            item?.property?.property_name || "-"
                                        }}
                                    </div>
                                   

                                    <div class="flex justify-start">
                                       
                                        <!-- <button
                                            routerLink="/auction-calendar/edit-auction-content/{{
                                                item?.id
                                            }}"
                                            *ngIf="item?.userType === 'ADMIN'"
                                            class="min-w-10 min-h-7 h-7 px-2 ml-1 bg-green-600 rounded-2xl"
                                            matTooltip="Edit"
                                        >
                                            Edit
                                        </button> -->
                                      
                                        <button
                                        type="button ml-4"
                                        *ngIf="element.status==='PENDING'"
                                        (click)=" changeStatusOfBid(element?.id,element?.auction_id,element?.user_id)"
                                        [disabled]="loading"
                                        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                                      >
                                        
                                        <span *ngIf="!loading">Accept</span
                                          ><mat-spinner
                                            *ngIf="loading"
                                            class="w-full h-10"
                                            [diameter]="30"
                                          ></mat-spinner>
                                      </button>
                                      
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        *ngIf="auctionList$.length"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent justify-center text-header"
                        [ngClass]="{ 'pointer-events-none': isLoading }"
                        [length]="pagination.TotalCount"
                        [pageIndex]="pagination.PageNo"
                        [pageSize]="pagination.LimitRecords"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="pageChanged($event)"
                        [showFirstLastButtons]="true"
                    ></mat-paginator>
                </ng-container>
            </ng-container>

            <ng-template #noAdmin>
                <div
                    class="p-8 sm:p-16  text-4xl font-semibold tracking-tight text-center"
                >
                    {{ isLoading ? "Fetching Data" : "There is no data!" }}
                </div>
            </ng-template>
        </div>
    </div>
</div>
