<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-2">
        <div class="px-3 m-auto">
            <!-- Sectioned form with dividers -->
            <div class="prose prose-sm max-w-3xl">
                <h2 class="text-4xl font-semibold tracking-tight leading-8">
                    Add Content for What's New
                </h2>
            </div>

            <form
                class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden justify-center items-center"
                [formGroup]="form"
                (submit)="addContent"
            >
                <div class="w-120 flex">
                    <mat-form-field
                    [floatLabel]="'always'"
                    class="flex-auto gt-xs:pr-3"
                >
                    <mat-label class="text-header font-bold">
                        Community<span class="text-warn"></span
                    ></mat-label>
                    <mat-select
                        placeholder="Select community"
                        [formControlName]="'GroupCriteriaId'"
                      
                    >
                        <mat-option
                            *ngFor="let d of communityList$"
                            [value]="d?.id"
                            >{{ d?.name || "" }}</mat-option
                        >
                    </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-120 flex">
                    <mat-form-field
                        [floatLabel]="'always'"
                        class="flex-auto gt-xs:pr-3"
                    >
                        <mat-label class="text-header font-bold">
                            Heading<span class="text-warn"></span
                        ></mat-label>
                        <input
                            matInput
                            [formControlName]="'heading'"
                            placeholder="Enter heading"
                        />
                    </mat-form-field>
                </div>
                <div class="w-120 flex">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Add Description</mat-label>

                        <textarea
                            matInput
                            name="description"
                            cols="35"
                            rows="8"
                            placeholder="Enter description"
                            [formControlName]="'description'"
                        ></textarea>
                    </mat-form-field>
                </div>

               

                <div
                    class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
                >
                    <button routerLink="/users/list" mat-button>Cancel</button>
                    <button
                        class="px-6 ml-3  bg-theme"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="addContent()"
                    >
                        <span  *ngIf="!loading"> Save</span>
                        <mat-progress-spinner
                            *ngIf="loading"
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
