<div
    *transloco="let t"
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-4"
    >
        <!-- Loader -->
        <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div>
            <h2 class="text-3xl font-bold tracking-tight leading-8 text-theme">
                {{ t("admins") }}
            </h2>
        </div>
    </div>
    <div class="flex justify-between items-center">
        <div class="flex items-center justify-start w-full m-4">
            <!-- filters -->

            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-no-subscript rounded-lg w-96 mr-2"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    placeholder="{{ t('search_admins') }}"
                    (keyup.enter)="resetPagination()"
                />
            </mat-form-field>
        </div>
        <!-- Add product button -->
        <div class="mr-4">
            <!-- Add product button -->
            <button
                routerLink="/admins/add-admin"
                class="ml-4 bg-header rounded-lg"
                mat-flat-button
                [color]="'primary'"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">{{ t("add_admin") }}</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Users list -->
        <div
            class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
        >
            <ng-container *ngIf="users$.length; else noAdmin">
                <ng-container>
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="admin-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold"
                            style="background-color: #ecf1f2"
                        >
                            <div class="hidden md:block">
                                {{ t("admin_name") }}
                            </div>
                            <div class="hidden md:block">
                                {{ t("gender") }}
                            </div>

                            <div class="hidden md:block">
                                {{ t("mobile") }}
                            </div>
                            <div class="hidden md:block">
                                {{ t("email") }}
                            </div>

                            <div class="hidden md:block">
                                {{ t("actions") }}
                            </div>
                        </div>
                        <!-- Rows -->
                        <ng-container>
                            <ng-container *ngFor="let admin of users$">
                                <div
                                    class="admin-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b-2 border-gray-300"
                                >
                                    <!-- Name -->
                                    <div class="">
                                        {{
                                            admin?.first_Name +
                                                " " +
                                                admin?.last_Name || "-"
                                        }}
                                    </div>

                                    <!-- Admin Type -->
                                    <div class="">
                                        {{ admin?.user_type_name || "-" }}
                                    </div>

                                    <!-- State -->
                                    <div class="">
                                        <span *ngIf="admin?.stateList.length">
                                            <ul>
                                                <li
                                                    *ngFor="
                                                        let r of admin?.stateList;
                                                        let i = index
                                                    "
                                                >
                                                    {{ r?.state_Name }}
                                                </li>
                                            </ul>
                                        </span>
                                        <span *ngIf="!admin?.stateList.length"
                                            >N.A.</span
                                        >
                                    </div>

                                    <!-- District -->
                                    <div class="">
                                        <span
                                            *ngIf="admin?.districtList.length"
                                        >
                                            <ul>
                                                <li
                                                    *ngFor="
                                                        let r of admin?.districtList;
                                                        let i = index
                                                    "
                                                >
                                                    {{ r?.district_Name }}
                                                </li>
                                            </ul>
                                        </span>
                                        <span
                                            *ngIf="!admin?.districtList.length"
                                            >N.A.</span
                                        >
                                    </div>

                                    <!-- Phone Number -->
                                    <div class="">
                                        {{ admin?.phone_number || "-" }}<br />{{
                                            admin?.userEmail || "-"
                                        }}
                                    </div>

                                    <div class="flex justify-start">
                                        <!-- Block button -->
                                        <mat-slide-toggle
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 ml-1"
                                            [color]="'warn'"
                                            matTooltip="Block/Unblock User"
                                            [checked]="admin?.isBlocked"
                                            (change)="
                                                onChange(
                                                    admin?.userid,
                                                    admin.isBlocked
                                                )
                                            "
                                        ></mat-slide-toggle>

                                        <!-- Edit button -->
                                        <button
                                            routerLink="/admins/edit-admin/{{
                                                admin?.userid
                                            }}"
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 ml-1"
                                            mat-flat-button
                                            [color]="'primary'"
                                            matTooltip="Edit"
                                        >
                                            <mat-icon
                                                class="text-white p-0.5"
                                                svgIcon="mat_outline:edit"
                                            ></mat-icon>
                                        </button>

                                        <!-- Delete button -->
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 ml-1"
                                            mat-flat-button
                                            [color]="'warn'"
                                            matTooltip="Delete User"
                                            (click)="
                                                deleteAdmin(
                                                    admin?.userid,
                                                    admin?.first_Name,
                                                    admin?.last_Name
                                                )
                                            "
                                        >
                                            <mat-icon
                                                class="text-white p-0.5"
                                                svgIcon="mat_outline:delete"
                                            ></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        *ngIf="users$.length"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{ 'pointer-events-none': isLoading }"
                        [length]="pagination.Total_Count"
                        [pageIndex]="pagination.Page_No"
                        [pageSize]="pagination.Limit_Records"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="pageChanged($event)"
                        [showFirstLastButtons]="true"
                    ></mat-paginator>
                </ng-container>
            </ng-container>

            <ng-template #noAdmin>
                <div
                    class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
                >
                    {{
                        isLoading ? t("fetching_users") : "There are no Admins!"
                    }}
                </div>
            </ng-template>
        </div>
    </div>
</div>
