<div
    *transloco="let t"
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-4"
    >
        <!-- Loader -->

        <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex items-start justify-between w-full">
            <div>
                <h2
                    class="text-3xl font-bold tracking-tight leading-8 text-theme"
                >
                    Banks
                </h2>
            </div>
        </div>
    </div>

    <div class="mr-4 flex justify-end">
        <!-- Add product button -->
        <button
            routerLink="/banks/add-bank"
            class="ml-4 bg-header rounded-lg"
            mat-flat-button
            type="button"
            [matTooltip]="'Add Banks'"
            [color]="'primary'"
        >
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">Add Bank</span>
        </button>
    </div>
    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Userslist -->
        <div
            class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
        >
            <ng-container *ngIf="users$.length; else noAdmin">
                <ng-container>
                    <div class="grid table_tr_bg">
                        <!-- Header -->
                        <div
                            class="admin-grid z-10 text-lg sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold"
                            style="background-color: #ecf1f2"
                        >
                            <div class="hidden md:block">S No.</div>
                            <div class="hidden md:block">{{ t("name") }}</div>
                            <div class="hidden md:block">
                                {{ t("Facility_type_Name") }}
                            </div>

                            <div class="hidden md:block">
                                {{ t("User Name") }}
                            </div>
                            <div class="hidden md:block">
                                {{ t("mobile_mail") }}
                            </div>
                            <div class="hidden md:block">
                                {{ t("district") }}
                            </div>
                            <div class="hidden md:block">
                                {{ t("actions") }}
                            </div>
                        </div>
                    </div>

                    <mat-paginator
                        *ngIf="users$.length"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent justify-center text-header"
                        [ngClass]="{ 'pointer-events-none': isLoading }"
                        [length]="pagination.TotalCount"
                        [pageIndex]="pagination.PageNo"
                        [pageSize]="pagination.LimitRecords"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="pageChanged($event)"
                        [showFirstLastButtons]="true"
                    ></mat-paginator>
                </ng-container>
            </ng-container>

            <ng-template #noAdmin>
                <div
                    class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
                >
                    {{ isLoading ? "Fetching Banks" : "There are no banks!" }}
                </div>
            </ng-template>
        </div>
    </div>
</div>
