<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-2">
        <div class="px-3 m-auto">
            <!-- Sectioned form with dividers -->
            <div class="prose prose-sm max-w-3xl">
                <h2 class="text-4xl font-semibold tracking-tight leading-8">
                    Add Content for Dividend Calender
                </h2>
            </div>

            <form
                class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden justify-center items-center"
                [formGroup]="form"
                (submit)="(addData)"
            >
                <div class="w-120 flex">
                    <mat-form-field
                        [floatLabel]="'always'"
                        class="flex-auto gt-xs:pr-3"
                    >
                        <mat-label class="text-header font-bold">
                          Dividend Payout Type<span class="text-warn"></span
                        ></mat-label>
                        <mat-select
                            placeholder="Select dividend payout type"
                            [formControlName]="'type'"
                            (selectionChange)="resetData()"
                        >
                            <mat-option
                                *ngFor="let d of categoryList$"
                                [value]="d?.value"
                                >{{ d?.text || "" }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-120 flex"  *ngIf="form.value.type">
                    <mat-form-field class="w-full">
                        <mat-label class="text-header font-bold">
                             {{form.value.type==='YEARLY'?'Date':'Date 1'}}<span class="text-warn"></span
                        ></mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker1"
                            formControlName="Date1"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker1"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="w-120 flex" *ngIf="form.value.type && form.value.type!='YEARLY'">
                    <mat-form-field class="w-full">
                        <mat-label class="text-header font-bold">
                            Date 2<span class="text-warn"></span
                        ></mat-label>

                        <input
                            matInput
                            [matDatepicker]="picker2"
                            formControlName="Date2"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker2"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="w-120 flex "  *ngIf="form.value.type==='QUATERLY'">
                    <mat-form-field class="w-full">
                        <mat-label class="text-header font-bold">
                            Date 3<span class="text-warn"></span
                        ></mat-label>

                        <input
                            matInput
                            [matDatepicker]="picker3"
                            formControlName="Date3"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker3"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="w-120 flex"  *ngIf="form.value.type==='QUATERLY'">
                    <mat-form-field class="w-full">
                        <mat-label class="text-header font-bold">
                            Date 4<span class="text-warn"></span
                        ></mat-label>

                        <input
                            matInput
                            [matDatepicker]="picker4"
                            formControlName="Date4"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker4"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </div>

                <div
                    class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
                >
                    <button routerLink="/dividend-calender/list" mat-button>
                        Cancel
                    </button>
                    <button
                        class="px-6 ml-3 bg-theme"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="addData()"
                    >
                        <span *ngIf="!loading"> Save</span>
                        <mat-progress-spinner
                            *ngIf="loading"
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
