<div class="w-full min-h-full flex items-center justify-center">
  <div
    class="flex flex-col items-center justify-center gap-4 border-2 p-8 bg-white w-1/2"
  >
    <div class="text-4xl font-semibold text-center">User Details</div>
    <div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      >
        Banjinji Motshidisi
      </button>
    </div>
    <div class="w-full">
      <table class="border-collapse border border-slate-400 text-3xl w-full">
        <thead>
          <tr>
            <th class="py-4 border border-slate-300">Item</th>
            <th class="py-4 border border-slate-300">Desciption</th>
          </tr>
        </thead>
        <tbody class="">
          <tr class="">
            <td class="p-4 border border-slate-300">ID Type</td>
            <td class="p-4 border border-slate-300">-</td>
          </tr>
          <tr>
            <td class="p-4 border border-slate-300">ID Number</td>
            <td class="p-4 border border-slate-300">-</td>
          </tr>
          <tr>
            <td class="p-4 border border-slate-300">Marital Status</td>
            <td class="p-4 border border-slate-300">-</td>
          </tr>
          <tr>
            <td class="p-4 border border-slate-300">Need for liquidity</td>
            <td class="p-4 border border-slate-300">-</td>
          </tr>
          <tr>
            <td class="p-4 border border-slate-300">Annual Income</td>
            <td class="p-4 border border-slate-300">-</td>
          </tr>
          <tr>
            <td class="p-4 border border-slate-300">Fracprop association</td>
            <td class="p-4 border border-slate-300">-</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-x-4">
      <button class="bg-green-600 h-12 w-40 text-white font-bold py-2 px-4 rounded">
        Approve
      </button>
      <button class="bg-red-600 h-12 w-40 text-white font-bold py-2 px-4 rounded">
        Reject
      </button>
    </div>
  </div>
</div>
