<div class="w-full min-h-full flex items-center justify-center">
    <!-- Loader -->
    <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div
        class="flex flex-col items-center justify-center gap-4 border-2 p-8 m-4 bg-white w-1/2"
        *ngIf="userDetails$?.role"
    >
        <div class="text-4xl font-semibold text-center">User Details</div>
        <div>
            <button
                class="text-3xl bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
               
            >
                {{
                    userDetails$?.role === "BUSINESS"
                        ? userDetails$?.company_name
                        : userDetails$?.username
                }}
            </button>
        </div>
        <div class="w-full" *ngIf="userDetails$?.role === 'STANDARD_USER'">
            <table
                class="border-collapse border border-slate-400 text-2xl w-full"
            >
                <thead>
                    <tr>
                        <th class="py-4 border border-slate-300">Item</th>
                        <th class="py-4 border border-slate-300">Desciption</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr class="">
                        <td class="p-4 border border-slate-300">Legal Name</td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.legal_name }}
                        </td>
                    </tr>

                    <tr>
                        <td class="p-4 border border-slate-300">
                            Need for liquidity
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.need_for_liquidity || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Annual Income
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.annual_income || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Fracprop association
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.fracprop_association || "-" }}
                        </td>
                    </tr>
                    <tr class="">
                        <td class="p-4 border border-slate-300">
                            Source of fund
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.source_of_fund || "-" }}
                        </td>
                    </tr>
                    <tr class="">
                        <td class="p-4 border border-slate-300">Bank</td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.bank_details?.name || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Employment status
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.employment_status || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">Education</td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.education || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">Occupation</td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.occupation || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Work Industry
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.work_industry || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Investment objectives
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.investment_objectivesNew || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Level of risk
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.level_of_risk || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Investment decisions
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.investment_decisions || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Family/Friend
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.isFamily === true ? "Yes" : "No" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Trusted contact
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.truested_user?.first_name || "-" }}
                            {{ userDetails$?.truested_user?.last_name || "-" }},
                            {{ userDetails$?.truested_user?.email || "-" }}
                            {{
                                userDetails$?.truested_user?.phone_number ||
                                    "-"
                            }},
                            {{ userDetails$?.truested_user?.alt_number || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Identity type
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.id_type || "-" }}
                            <div class="flex w-full gap-4">
                                <div
                                    class="flex flex-col relative"
                                    *ngIf="userDetails$?.upload_front"
                                >
                                    <div
                                        *ngIf="
                                            userDetails$?.upload_front_file_type ===
                                                'application/pdf';
                                            else otherFileTypes
                                        "
                                    >
                                        <a [href]="fronImage" target="_blank">
                                            <img
                                                src="../../../../../assets/images/logo/pdf.png"
                                                class="w-14 h-16"
                                                alt="pdf"
                                            />
                                        </a>
                                    </div>

                                    <ng-template #otherFileTypes>
                                        <div>
                                            <a
                                                [href]="
                                                    userDetails$?.upload_front
                                                "
                                                target="_blank"
                                            >
                                                <img
                                                    [src]="
                                                        userDetails$?.upload_front
                                                    "
                                                    class="w-14 h-16 rounded-lg border-2 border-slate-800"
                                                    alt=""
                                            /></a>
                                        </div>
                                    </ng-template>
                                </div>

                                <div
                                    class="flex flex-col relative"
                                    *ngIf="userDetails$?.upload_back"
                                >
                                    <div
                                        *ngIf="
                                            userDetails$?.upload_back_file_type ===
                                                'application/pdf';
                                            else otherFileTypes
                                        "
                                    >
                                        <a
                                            [href]="userDetails$?.upload_back"
                                            target="_blank"
                                        >
                                            <img
                                                src="../../../../../assets/images/logo/pdf.png"
                                                class="w-14 h-16"
                                                alt="pdf"
                                            />
                                        </a>
                                    </div>

                                    <ng-template #otherFileTypes>
                                        <div>
                                            <a
                                                [href]="
                                                    userDetails$?.upload_back
                                                "
                                                target="_blank"
                                            >
                                                <img
                                                    [src]="
                                                        userDetails$?.upload_back
                                                    "
                                                    class="w-14 h-16 rounded-lg border-2 border-slate-800"
                                                    alt=""
                                            /></a>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full gap-8" *ngIf="userDetails$?.role === 'BUSINESS'">
            <div class="flex space-x-4 w-full">
                <div class="w-1/2">
                    <mat-label class="text-2xl">Trade Name - </mat-label>
                    <span class="text-2xl">{{ userDetails$?.trade_name }}</span>
                </div>
                <div class="w-1/2">
                    <mat-label class="text-2xl">Business Type - </mat-label>
                    <span class="text-2xl">{{
                        userDetails$?.business_type
                    }}</span>
                </div>
            </div>
            <div class="flex items-center justify-center space-x-4">
                <div class="w-1/2">
                    <mat-label class="text-2xl">
                        Registration Document</mat-label
                    >

                    <a
                        [href]="userDetails$?.upload_registration_document"
                        target="_blank"
                    >
                        <div
                            class=""
                            *ngIf="userDetails$?.upload_registration_document"
                        >
                            <div class="pl-4">
                                <img
                                    src="assets/images/logo/pdf.png"
                                    class="h-16 w-16"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w-1/2">
                    <mat-label class="text-2xl"
                        >Resolution of Director’s</mat-label
                    >

                    <a
                        [href]="userDetails$?.resulation_of_director"
                        target="_blank"
                    >
                        <div
                            class=""
                            *ngIf="userDetails$?.resulation_of_director"
                        >
                            <div class="pl-4">
                                <img
                                    src="assets/images/logo/pdf.png"
                                    class="h-16 w-16"
                                />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex space-x-3">
                <div class="w-full">
                    <mat-label class="text-2xl"
                        >Registered Company Address Proof</mat-label
                    >

                    <a
                        [href]="userDetails$?.registered_company_address_proof"
                        target="_blank"
                    >
                        <div
                            class=""
                            *ngIf="
                                userDetails$?.registered_company_address_proof
                            "
                        >
                            <div class="pl-4">
                                <img
                                    src="assets/images/logo/pdf.png"
                                    class="h-16 w-16"
                                />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex space-x-4">
                <div class="w-1/2">
                    <mat-label class="text-2xl">
                        Director’s ID Document</mat-label
                    >
                    <div class="flex gap-1">
                        <div
                            class=""
                            *ngFor="
                                let d of userDetails$?.upload_director_id_document;
                                let i = index
                            "
                        >
                            <a
                                [href]="d"
                                target="_blank"
                                *ngIf="
                                    userDetails$?.upload_director_id_document
                                        .length
                                "
                            >
                                <div>
                                    <div class="">
                                        <img
                                            src="assets/images/logo/pdf.png"
                                            class="h-16 w-16"
                                        />
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-x-4" >
            <button
                class="bg-green-600 h-12 w-40 text-white font-bold py-2 px-4 rounded"
                (click)="updateStatus('APPROVED')"
                [disabled]="isLoading"
            >
                Approve
            </button>
            <button
                class="bg-red-600 h-12 w-40 text-white font-bold py-2 px-4 rounded"
                (click)="updateStatus('REJECTED')"
                [disabled]="isLoading"
            >
                Reject
            </button>
        </div>
    </div>
</div>
