<div class="w-full min-h-full flex items-center justify-center">
    <div
        class="flex flex-col items-center justify-center gap-4 border-2 p-8 bg-white w-1/2"
    >
        <div class="text-4xl font-semibold text-center">User Details</div>
        <div>
            <button
                class="text-3xl bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"

            >
                {{userDetails$?.role==='BUSINESS'?userDetails$?.company_name:userDetails$?.username}}
            </button>
        </div>
        <div class="w-full" *ngIf="userDetails$?.role==='STANDARD_USER'">
            <table
                class="border-collapse border border-slate-400 text-3xl w-full"
            >
                <thead>
                    <tr>
                        <th class="py-4 border border-slate-300">Item</th>
                        <th class="py-4 border border-slate-300">Desciption</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr class="">
                        <td class="p-4 border border-slate-300">ID Type</td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.id_type }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">ID Number</td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.identify_number || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Marital Status
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.marital_status || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Need for liquidity
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.need_for_liquidity || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Annual Income
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.annual_income || "-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 border border-slate-300">
                            Fracprop association
                        </td>
                        <td class="p-4 border border-slate-300">
                            {{ userDetails$?.fracprop_association || "-" }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full" *ngIf="userDetails$?.role === 'BUSINESS'">
            <div class="flex space-x-4 w-10/12">
                <div class="w-1/2">
                    <mat-label class="text-3xl">Trade Name - </mat-label>
                    <span class="text-3xl">{{ userDetails$?.trade_name }}</span>
                </div>
            </div>
            <div class="flex items-center justify-center space-x-4 ">
                <div class="w-1/2">
                    <mat-label class="text-3xl">
                        Registration Document</mat-label
                    >

                    <a
                        [href]="userDetails$?.upload_registration_document"
                        target="_blank"
                    >
                        <div
                            class=""
                            *ngIf="userDetails$?.upload_registration_document"
                        >
                            <div class="w-1/3 pl-4">
                                <img src="assets/images/logo/pdf.png" />
                            </div>
                            <!-- <div class="w-1/3">pdf</div> -->
                            <!-- <div
                class="w-1/3 pl-4"
                (click)="
                  $event.preventDefault();
                  removeUploadedDoc('registrationDoc')
                "
              >
                <mat-icon>close</mat-icon>
              </div> -->
                        </div>
                    </a>
                </div>

                <div class="w-1/2">
                    <mat-label class="text-3xl">
                        Director’s ID Document</mat-label
                    >

                    <div
                        *ngFor="
                            let d of userDetails$?.upload_director_id_document;
                            let i = index
                        "
                    >
                        <a
                            [href]="d"
                            target="_blank"
                            *ngIf="
                                userDetails$?.upload_director_id_document.length
                            "
                        >
                            <div>
                                <div class="w-1/3 pl-4">
                                    <img src="assets/images/logo/pdf.png" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex space-x-3">
                <div class="w-1/2">
                    <mat-label class="text-3xl"
                        >Resolution of Director’s</mat-label
                    >

                    <a
                        [href]="userDetails$?.resulation_of_director"
                        target="_blank"
                    >
                        <div
                            class=""
                            *ngIf="userDetails$?.resulation_of_director"
                        >
                            <div class="w-1/3 pl-4">
                                <img src="assets/images/logo/pdf.png" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w-1/2">
                    <mat-label class="text-3xl"
                        >Registered Company Address Proof</mat-label
                    >

                    <a
                        [href]="userDetails$?.registered_company_address_proof"
                        target="_blank"
                    >
                        <div
                            class=""
                            *ngIf="
                                userDetails$?.registered_company_address_proof
                            "
                        >
                            <div class="w-1/3 pl-4">
                                <img src="assets/images/logo/pdf.png" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="space-x-4">
            <button
                class="bg-green-600 h-12 w-40 text-white font-bold py-2 px-4 rounded"
            >
                Approve
            </button>
            <button
                class="bg-red-600 h-12 w-40 text-white font-bold py-2 px-4 rounded"
            >
                Reject
            </button>
        </div>
    </div>
</div>
